{{ define "main" }}
    {{ with .Content }}<div>{{ . }}</div>{{ end }}

    {{ range (where .Site.RegularPages "Section" "posts") }}
    <article class="post">
        <header class="post__header">
            <h1><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
            <p class="post__meta">
                <span class="date">{{ .Date.Format "2 January 2006" }}</span>
            </p>
        </header>
        <section class="post__summary">
            {{ with .Params.description }}<p>{{ . }}</p>{{ else }}{{ .Summary }}{{ end }}
        </section>
    </article>
    {{ end }}
{{ end }}
